<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStaffServce" />
                <binding name="BasicHttpBinding_IStoreService" />
                <binding name="BasicHttpBinding_IAdresseService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/FilmLibrary.Services_Interfaces/StaffServce/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStaffServce"
                contract="StaffServiceReference.IStaffServce" name="BasicHttpBinding_IStaffServce" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/FilmLibrary.Services_Interfaces/StoreService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStoreService"
                contract="StoreServiceReference.IStoreService" name="BasicHttpBinding_IStoreService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/FilmLibrary.Services_Interfaces/AdresseService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdresseService"
                contract="AdresseServiceReference.IAdresseService" name="BasicHttpBinding_IAdresseService" />
        </client>
    </system.serviceModel>
</configuration>